<div class="loyalty-background">
    <div class="page-container container header p-bottom-30-xs p-bottom-50 p-top-50">
        <div class="row p-bottom-50">
            <div class="col-xs-12">
                <div>
                    <a class="aTag" (click)="clickBack()" [attr.data-slnm-ihg]="'backToAccountLinkSID'">
                        <svg width="5" bottom="20" height="8" viewBox="0 0 5 7" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M3.8112 5.79848C4.07006 6.07198 4.06767 6.51312 3.80584 6.78379C3.54402 7.05446 3.12191 7.05216 2.86305 6.77866L0.211559 3.97731C-0.047308 3.70381 -0.0449115 3.26267 0.216912 2.992L2.89868 0.21961C3.1605 -0.0510609 3.58261 -0.0487679 3.84147 0.224732C4.10034 0.498232 4.09795 0.939369 3.83612 1.21004L1.62843 3.49233L3.8112 5.79848Z"
                                fill="black" />
                        </svg>
                        <span class="m-left-10">Back to Choices</span></a>
                </div>
            </div>
        </div>
    </div>
</div>