@import "../../../../styles/base/specs/typography";

.header {
height: 211px;
left: 0px;
top: 0px;
}

.loyalitybg {
    background: linear-gradient(105.58deg, rgba(199, 178, 99, 0) 33.96%, #968237 100%), linear-gradient(285.58deg, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 47.4%), #C7B263;
    width: 100%;
height: 211px;
left: 0px;
top: 0px;
}

.headerH3 {
font-size: 43px;
font-family: $graphik_medium_font_family;
line-height: 49px;
font-weight: bold;
}

.aTag {
font-size: 15px;
font-family: $graphik_medium_font_family;
line-height: 100%;
color: #000000;
font-weight: bold;
height: 15px;
}

.mt-tag {
    margin-top: 40px;
}

.mt-wlink {
    margin-top: 40px;
}
.btn{
    font-family: $graphik_regular_font_family;
    font-size: 16px;
line-height: 123%;
border: 1px solid #000000;
background-color: rgba(0,0,0,0);
color: #000000;
}

.btn-primary {
    background-color: rgba(0,0,0,0);
    font-size: 16px;
    line-height: 123% !important;
    padding: 15px;
    padding-right: 18px;
    padding-left: 18px;

}
.mt-header {
    margin-top: 50px;
}

.btn-primary:hover {
    background-color: rgba(0,0,0,0.5) !important;
} 

.btn-primary:active {
    background-color: rgba(0,0,0,0) !important;
}

a {
      cursor: pointer;
  }


  @media screen and (min-device-width: 100px) and (max-device-width: 380px) {
    .headerH3 {
        font-family: $graphik_medium_font_family;
        font-size: 32px;
        line-height: 115%;
        height: 41px;
        font-weight: bold;
        }


        .aTag {
            font-size: 15px;
            font-family: $graphik_medium_font_family;
            line-height: 100%;
            color: #000000;
            font-weight: bold;
            }

            .mt-tag {
                margin-top: 20px;
            }
            

            .btn-primary {
                background-color: rgba(0,0,0,0);
                font-size: 16px;
                line-height: 123% !important;
                padding: 15px;
                padding-right: 18px;
                padding-left: 18px;
                height: 50px;
            }
 

        .header {
            height: 236px;
            left: 0px;
            top: 0px;
            }

        .mt-header {
            margin-top: 50px;
        }

        .mt-wlink{
            margin-top: 40px;
        }

  }

  @media screen and (min-device-width: 380px) and (max-device-width: 1000px) {
    .headerH3 {
        font-family: $graphik_medium_font_family;
        font-size: 34px;
        line-height: 115%;
        height: 41px;
        font-weight: bold;
        }


        .aTag {
            font-size: 15px;
            font-family: $graphik_medium_font_family;
            line-height: 100%;
            color: #000000;
            font-weight: bold;
            }

            .mt-tag {
                margin-top: 20px;
            }
            

            .btn-primary {
                background-color: rgba(0,0,0,0);
                font-size: 16px;
                line-height: 123% !important;
                padding: 13px;
                padding-right: 18px;
                padding-left: 18px;
                height: 50px;
            }
 

        .header {
            height: 236px;
            left: 0px;
            top: 0px;
            }

        .mt-header {
            margin-top: 50px;
        }

        .mt-wlink{
            margin-top: 40px;
        }


  }
  
