<div class="row mt-5 cta-container">
    <div class="col-md-12 col-sm-12">
        <div class="p-5 background-cta cta-header">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-12">
                    Choices made: <span class="choice-sub">0/1</span>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12 pl-md-2 pr-md-2">
                    <button class="btn btn-primary btn-block btn-lg mt-1">Confirm Choice</button>
                </div>
            </div>
        </div>
    </div>
</div>
