/*!
 * _flexbox.scss 12/05/2016 //(C) IHG. All rights reserved.
 */

// Meant to be set on the container "parent element".
@mixin flex-container($display: flex) {

  @if $display == flex {
    display: flex;

  } @else {
    /* or inline-flex */
  }

}

//  ---------------------------------------------------------------------------
//  Flex Grid
//  ---------------------------------------------------------------------------

@function columnWidth($index, $columns) {
  @return ($index / $columns);
}

@mixin make-flexgrid-columns($i: 1) {
  $list: ".xs-col-#{$i}, .xs-col-#{$i}-xs, .sm-col-#{$i}, .sm-col-#{$i}-sm, .md-col-#{$i}, .md-col-#{$i}-md, .lg-col-#{$i}, .lg-col-#{$i}-lg";
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .xs-col-#{$i}, .xs-col-#{$i}-xs, .sm-col-#{$i}, .sm-col-#{$i}-sm, .md-col-#{$i}, .md-col-#{$i}-md, .lg-col-#{$i}, .lg-col-#{$i}-lg";
  }
  #{$list} {
    box-sizing: border-box;
  }
  .flexrow {
    #{$list} {
      padding-left: $padding-left;
      padding-right: $padding-right;
    }
  }
}

@mixin mediaColumn($index, $minMedia, $maxMedia:null) {
  @if $minMedia and not ($maxMedia == null) {
    .#{$minMedia}-col-#{$index}-#{$maxMedia} {
      @content;
    }
  } @else {
    .#{$minMedia}-col-#{$index} {
      @content;
    }
  }
}

@mixin calc-flexgrid-column($index, $type, $minMedia, $maxMedia:null) {
  @include mediaColumn($index, $minMedia, $maxMedia) {
    //box-sizing: border-box;
    $columnPercent: (columnWidth($index, $grid-columns) * 100%);
    flex-basis: $columnPercent;
    max-width: $columnPercent;
  }
}

@mixin loop-flexgrid-columns($columns, $type, $minMedia, $maxMedia:null) {
  @for $i from 1 through $columns {
    @include calc-flexgrid-column($i, $type, $minMedia, $maxMedia);
  }
}

@mixin make-flexgrid($minClass, $maxClass:null) {
  @include loop-flexgrid-columns($grid-columns, width, $minClass, $maxClass);
}

@mixin make-flexgrid-ie($minClass, $maxClass:null) {

  @for $i from 1 through $grid-columns {
    @include mediaColumn($i, $minClass, $maxClass) {
      flex-basis: (columnWidth($i, $grid-columns) * 100vw);
    }
  }
}
