/**
 * _icon.scss 12/06/2016 //(C) IHG. All rights reserved.
 */

@mixin icon($width: 40px, $height: 40px, $url: null) {
  width: $width;
  height: $height;
  background-position: center;
  //background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;

  @if not ($url == null) {
    background-image: url($url);
  }
}
