/*! _snippets.scss  09/15/2017  //(C) IHG. All rights reserved. */

@function stringIndex($string, $search) {
  @return str-index($string, $search);
}

@function firstStringOf($index, $string) {
  @return str-slice($string, 1, $index - 1)
}

@function lastStringOf($index, $string, $search) {
  @return str-slice($string, $index + str-length($search));
}

//  --------------------------------------------------------------------------
//  The understanding and agreement is to use multiples of 5
//  --------------------------------------------------------------------------

@mixin margin-incremental($class, $property, $important:false, $end:30, $start:5) {
  $num5: 5;
  $index: stringIndex($class, '#');
  $firstOf: firstStringOf($index, $class);
  $lastOf: lastStringOf($index, $class, '#');

  @for $i from 1 through ($end/$start) {
    $value: $num5 * $i;
    .#{$firstOf}#{$value}#{$lastOf} {
      #{$property}: if($important, #{$value}px !important, $value + 0px);
    }
  }
}