@import "../../../../../styles/base/specs/typography";

.rewards-header {
    font-family: $graphik_medium_font_family;
font-size: 3.50rem;
font-weight: bold;
}


.rewards-content {
/* Body/Default */

font-family: $graphik_medium_font_family;
font-size: 1.75rem;
line-height: 150%;
/* or 24px */


/* IHG/Black */

color: #000000;
}